<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>detail</title>
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
  <header class="page-header">
    <a href="/" class="title"><img src="./image/icon.svg" alt="sheep image" width="50"></a>
  </header>
  <%= const url = <%= url %> <%>;
  <a href=url>Let's meeting</a>
  <h1><%= url %></h1>
  <h3>これが参加するためのURLです。</h3>
  <form method="post" action="/pay/ok/check">
    <input value="トップに戻る" type="submit">
  </form>
  
</body>
</html>